@use '../abstracts/variables' as var;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li img {
    margin-right: 12px;

    // hasta 768px
    @media screen and (max-width: 768px) {
      margin-right: 8px;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}