* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li img {
  margin-right: 12px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1 {
  color: #23807d;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 48px;
  font-weight: 600;
  padding-block-end: 24px;
}

h2 {
  color: #011b1a;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 32px;
  font-weight: 600;
  padding-block-end: 24px;
}

h3 {
  color: #011b1a;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding-block-end: 24px;
}

h4 {
  color: #23807d;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding-block-end: 24px;
}

p {
  color: #011b1a;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-block-start: 8px;
  padding-block-end: 8px;
}
p a {
  color: #ffbf69;
  font-weight: 600;
}
p a:hover {
  font-weight: 800;
}

label {
  color: #011b1a;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
}

input {
  color: #6b7676;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
}

textarea {
  color: #6b7676;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
}

li {
  color: #011b1a;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

header {
  grid-area: header;
  background-color: #ffffff;
  color: #011b1a;
  font-family: "Plus Jakarta Sans", sans-serif;
  box-shadow: 0px 2px 16px rgba(1, 27, 26, 0.12);
  position: fixed;
  width: 100vw;
  top: 0;
}
header a:hover {
  color: #011b1a;
}

footer {
  color: #ffffff;
  background-color: #011b1a;
  font-family: "Plus Jakarta Sans", sans-serif;
  grid-area: footer;
  min-width: 100vw;
}
footer nav ul {
  display: flex;
  align-content: flex-end;
  list-style-type: none;
}
footer nav ul li {
  padding: 8px;
}
footer nav ul a {
  color: #ffffff;
}
footer nav ul a:hover {
  color: #e7f9f8;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px;
  margin-left: 48px;
  margin-right: 48px;
}

div #grid {
  display: grid;
  max-width: 100dvw;
  max-height: 100vh;
  grid-template-areas: "header header" "principal principal" "quienes_somos quienes_somos" "trabajos trabajos" "servicios servicios" "contacto contacto" "footer footer";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 1fr 1fr 1fr 1fr 1fr auto;
  padding: 0 auto;
}

.section_left {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 512px;
  padding-left: 0px 24px;
}
.section_left h3 {
  text-align: left;
}

.section_right {
  align-items: center;
  max-width: 512px;
  padding: 0px 24px;
}
.section_right h3 {
  text-align: center;
}

.img_section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img_section img #img_banner {
  display: flex;
  align-items: flex-end;
}

section #principal {
  grid-area: principal;
  display: grid;
  height: 100dvh;
  grid-template-areas: "section_left section_right";
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 24px;
  justify-content: center;
  background-image: url(../img/img_background.png);
  background-position: bottom;
  background-repeat: no-repeat;
}
section #principal h1 {
  text-align: center;
}

#interna_ppal {
  grid-area: principal;
  max-width: 100%;
  max-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 148px 48px 0px;
}

div #quienes_somos {
  grid-area: quienes_somos;
  display: grid;
  grid-template-areas: "section_left section_right";
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 24px;
  padding: 48px 0px 24px;
  justify-content: center;
  align-items: start;
  justify-items: center;
}
div #quienes_somos .section_left {
  align-content: center;
}
div #quienes_somos .section_right {
  align-content: center;
}

#quienes_somos_interna {
  grid-area: quienes_somos;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

div #trabajos {
  grid-area: trabajos;
  margin: 0px 48px 48px;
}

div #trabajos_card {
  grid-area: trabajos;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 32px;
  margin: 24px 24px;
}

div #servicios {
  grid-area: servicios;
  display: grid;
  grid-template-areas: "section_left section_right";
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 24px;
  justify-content: center;
  align-items: start;
  padding: 48px 48px;
}
div #servicios .section_left {
  align-content: center;
}
div #servicios .section_right {
  align-content: center;
}

div #servicios_interna {
  grid-area: servicios;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 48px;
}

div #contacto {
  grid-area: contacto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 48px;
}

div #contacto_form {
  grid-area: contacto;
  display: grid;
  grid-template-areas: "section_left section_right";
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  justify-content: center;
  align-items: start;
  padding-bottom: 48px;
}

div #contacto_botones {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

div #formulario .section_right {
  display: flex;
}

.boton_principal {
  background-color: #ffbf69;
  color: #011b1a;
  border-radius: 8px;
  padding: 8px 24px;
  margin-block: 16px 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
}
.boton_principal a:hover {
  background-color: #011b1a;
  color: #ffbf69;
  font-weight: 800;
}

.boton_secundario {
  color: #011b1a;
  border: 2px solid #ffbf69;
  border-radius: 8px;
  padding: 8px 24px;
  margin-block: 16px 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
}
.boton_secundario a:hover {
  color: #ffbf69;
  border: 2px solid #ffbf69;
  font-weight: 800;
}

.card {
  align-items: center;
  max-width: 328px;
  min-width: 300px;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 2px 16px rgba(1, 27, 26, 0.12);
}
.card:hover {
  background-color: #e5e8e8;
  border: 0px;
  font-weight: 600;
}
.card img {
  max-width: 280px;
}

.icon_tag {
  color: #011b1a;
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.solo_tag {
  text-align: center;
  border: 1px solid #6b7676;
  border-radius: 24px;
  padding: 8px 24px;
}

.features_icon {
  display: flex;
  gap: 32px;
}

.features_solo {
  display: flex;
  gap: 32px;
  padding-bottom: 48px;
}

.seccion_bg_color {
  background-color: #e5e8e8;
}

.seccion_bg_blanco {
  background-color: #ffffff;
}

.section_center {
  background-color: #ffffff;
  text-align: center;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #e5e8e8;
  border: 1px solid #e5e8e8;
  border-radius: 12px;
  padding: 24px;
}

.formulario_input_label {
  margin: 12px 0;
}
.formulario_input_label input {
  border: 1px solid #6b7676;
  border-radius: 4px;
  padding: 4px 16px;
}
.formulario_input_label textarea {
  border: 1px solid #6b7676;
  border-radius: 4px;
  padding: 4px 16px;
  margin: 12px 0;
}

/*# sourceMappingURL=style.css.map */
