@use '../abstracts/variables' as var;
@use '../base/typography';

// Formulario de contacto
.formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: var.$gray_10;

    border: 1px solid var.$gray_10;
    border-radius: 12px;
    padding: 24px;
}

// Label
.formulario_input_label {
    margin: 12px 0;

    input {
        border: 1px solid var.$gray_60;
        border-radius: 4px;
        padding: 4px 16px
    }

    textarea {
        border: 1px solid var.$gray_60;
        border-radius: 4px;
        padding: 4px 16px;
        margin: 12px 0;
    }
}