@use './seccion';
@use './header';
@use './footer';

// Body
div #grid {
    display: grid;
    max-width: 100dvw;
  
    grid-template-areas: 
    "header header" "principal principal" "quienes_somos quienes_somos" "trabajos trabajos" "servicios servicios" "contacto contacto" "footer footer";

    grid-template-columns: 1fr 1fr;
  
    grid-template-rows: 80px 1fr 1fr 1fr 1fr 1fr auto;
  
    padding: 0 auto;

    // más de 1024px
    @media screen and (max-width: 1024px) {
        max-width: 100dvw;
        align-items: center;
    }

    // hasta 768px
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
}

// Sección principal
section #principal {
    grid-area: principal;
    max-width: 1024px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    h1 {
        text-align: center;
    }

    // más de 1024px
    @media screen and (max-width: 1024px) {
        max-width: 1024px;
        align-items: center; 
    }

    // hasta 768px
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        height: 100dvh;
        margin-top: 120px;

        row-gap: 16px;

        justify-content: center; 
    }
}

// Sección principal pagina interna
section #interna_ppal {
    grid-area: principal;
    max-width: 1024px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;


    // más de 1024px
    @media screen and (max-width: 1024px) {
        max-width: 1024px;
         align-items: start
    }

    // hasta 768px
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100dvh;
        margin-top: 148px;

        row-gap: 16px;
    }
}

// Principal hero
div #principal_hero {
    grid-area: principal;
    display: grid;
    grid-template-areas: "section_left section_right";
  
    grid-template-columns: 1fr 1fr;
  
    column-gap: 32px;
    row-gap: 24px;
    padding: 48px;
  
    justify-content: center;
    align-items: start;
    justify-items: center;

    .section_left {
        align-content: center;
    }

    .section_right {
        align-content: center;
    }

    // más de 1024px
    @media screen and (max-width: 1024px) {
        max-width: 1024px;
        align-items: center;
    }

    // hasta 768px
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100dvw;

        row-gap: 16px;
        padding: 24px 0px;

        justify-content: center;
        align-items: center;

        .section_right {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
    }
}

// Quienes somos principal
div #quienes_somos {
    grid-area: quienes_somos;
    display: grid;
    grid-template-areas: "section_left section_right";
  
    grid-template-columns: 1fr 1fr;
  
    column-gap: 32px;
    row-gap: 24px;
    padding: 48px;
  
    justify-content: center;
    align-items: start;
    justify-items: center;

    .section_left {
        align-content: center;
    }

    .section_right {
        align-content: center;
    }

    // más de 1024px
    @media screen and (max-width: 1024px) {
        max-width: 1024px;
        align-items: center;
    }

    // hasta 768px
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100dvw;

        row-gap: 16px;
        padding: 24px 0px;

        justify-content: center;
        align-items: center;

        .section_right {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
    }
}

// Quienes somos interna
div #quienes_somos_interna {
    grid-area: quienes_somos;
    display: flex;
    flex-direction: column;
    max-width: 100dvw;
    margin: auto;
  
    // hasta 768px
    @media screen and (max-width: 768px) {
        display: flex;
        max-width: 100dvw;

        .seccion_bg_color {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
        
            padding:24px 16px;
        }

        .seccion_bg_blanco {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            height: auto;
        
            padding:24px 16px;
        }
    }
}

// Trabajos principal
div #trabajos {
    grid-area: trabajos;

    padding: 24px;
  

    // más de 1024px
    @media screen and (max-width: 1024px){
        max-width: 1024px;        
        align-items: center;
    }

    // hasta 768px
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;        
        padding: 16px 16px;
    }
}

div #trabajos_card {
    grid-area: trabajos;
    justify-content: center;

    overflow-x: hidden;
    overflow-y: hidden;

    padding: 24px 12px;
    margin-bottom: 24px;

    // hasta 1024px
    @media screen and (max-width: 1024px) {
        align-items: stretch;
        justify-content: center;
    }

    // hasta 768px
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        
        padding-block-end: 24px;
    }
}

// Servicios principal
div #servicios {
    grid-area: servicios;
    display: grid;
    grid-template-areas: "section_left section_right";
  
    grid-template-columns: 1fr 1fr;
  
    column-gap: 32px;
    row-gap: 24px;
  
    justify-content: center;
    align-items: start;
    padding: 48px 48px;

    .section_left {
        align-content: center;
    }

    .section_right {
        align-content: center;
    }

    // más de 1024px
    @media screen and (max-width: 1024px) {
        max-width: 1024px;
        align-items: center;        
    }

    // hasta 768px
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100dvw;

        row-gap: 24px;

        justify-content: center;
        align-items: center;

        row-gap: 16px;
        padding: 24px 16px;
    }
}

// Servicios interna
  div #servicios_interna {
    grid-area: servicios;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    max-width: 1024px;
  
    padding-bottom: 48px;

    // más de 1024px
    @media screen and (max-width: 1024px) {
        max-width: 1024px;
        margin: auto;
        align-items: center;
    }

    // hasta 768px
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 0px;
    }
}

// Contacto principal
div #contacto {
    grid-area: contacto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 1024px;
  
    padding: 48px 48px;

    // más de 1024px
    @media screen and (max-width: 1024px) {
        max-width: 1024px;
        align-items: center;   
    }

    // hasta 768px
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 24px 24px;
    }
}

// Contacto interna
div #contacto_form {
    grid-area: contacto;
    display: grid;
    grid-template-areas:
    "section_left section_right";
    
    grid-template-columns: 1fr 1fr;
  
    column-gap: 32px;
  
    justify-content: center;
    align-items: start;
    padding-bottom: 48px;
    margin-top: 120px;

    height: 100vh;

    // más de 1024px
    @media screen and (max-width: 1024px) {
        max-width: 1024px;
        margin: auto;
        align-items: center;
    }

    // hasta 768px
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        height: auto;
        width: 100dvw;

        row-gap: 16px;

        justify-content: center;
        align-items: center;
        padding: 24px 24px;
    }
}

div #contacto_botones {
    display: flex;
    flex-direction: row;
    gap: 32px;

    // hasta 768px
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}
  
div #formulario .section_right {
    display: flex;

    // hasta 768px
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        width: 100dvw;
    }
}

// Features
div .features {
    display: flex;
    justify-content: space-around;
    padding: 0px 24px;

    // hasta 768px
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: space-around;    
    }
}

div #tabla_precios {
    grid-area: servicios;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;

    overflow-x: hidden;
    overflow-y: hidden;

    .precio {
        padding-top: 24px;
        text-align: center;

        // hasta 768px
        @media screen and (max-width: 768px) {
            padding-top: 24px;
            text-align: center;
        }
    }

    // más de 1024px
    @media screen and (max-width: 1024px) {
        max-width: 1024px;
        margin: auto;
        
        align-items: stretch;
        justify-content: center;

        ol, ul {
            padding-left: 0;

            // hasta 768px
            @media screen and (max-width: 768px) {
                padding-left: 0px;
            }
        }
    }

    // hasta 768px
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
}
  
  
