@use '../abstracts/variables'as var;
@use '../base/typography' as *;

header {
    grid-area: header;
    background-color: var.$main_bg;
    color: var.$main_text;
    font-family: $font_family;
  
    box-shadow: var.$sombra;
  
    position: fixed;
    width: 100vw;
    top: 0;

    a:hover {
        color: var.$main_text;
    }

    div #header {
        padding: 0px 48px;
    }

    //más de 1024px
    @media screen and (max-width: 1024px) {
        max-width: 100vw;
    }
}
   