@use '../abstracts/variables' as var;

// Secciones fondo color
.seccion_bg_color {
    background-color: var.$gray_10;
}

.seccion_bg_blanco {
    background-color: var.$main_bg;
}



// Secci칩n central
.section_center {
    background-color: var.$main_bg;

    text-align: center;
    padding: 24px 0px;
    
    &.banner {
     margin-top: 64px;
    }

    &.bg_gradient {
        background: linear-gradient(0deg, rgba(255, 223, 180, 1) 0%, rgba(255, 255, 255, 1) 85%);
    }

}

// Secci칩n izquierda
.section_left {
    grid-area: section_left;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  
    padding: 0px 24px;

    h3 {
        text-align: left;
    }
}

// Secci칩n derecha
.section_right {
    grid-area: section_right;
    align-items: center;
  
    padding: 0px 24px;

    h3 {
        text-align: center;
    }
}

// Im치genes en secciones
.img_section {
    display: flex;
    align-items: center;
    justify-content: center;

    img #img_banner {
        display: flex;
        align-items: flex-end;
    }
}