
@use '../abstracts/variables'as var;
@use '../base/typography' as *;

$component_padding: 8px 24px;
$component_radius: 8px;
$component_margin: 16px 0px;

// Boton principal
.boton_principal {
    background-color: var.$main_button;
    color: var.$main_text;
    box-shadow:var.$sombra;
  
    border-radius: $component_radius;
    padding: $component_padding;
    margin-block: $component_margin;
      
    font-family: $font_family;
    font-weight: 600;

    transition: background-color 0.4s, font-weight 0.2s, box-shadow 0.2s;

    &:hover {
    background-color: scale-color(var.$main_button, $lightness: -15%);
    color: var.$main_text; 
    box-shadow: var.$sombra_hover;

    font-weight: 800;
    } 
}

// Boton secundario
.boton_secundario {
    background-color: var.$gray_2;
    color: var.$gray_60;
    box-shadow: var.$sombra;
  
    border: 2px solid var.$main_button;
    border-radius: $component_radius;
    padding: $component_padding;
    margin-block: $component_margin;
      
    font-family: $font_family;
    font-weight: 600;

    transition: background-color 0.4s, font-weight 0.2s, box-shadow 0.2s;

    &:hover {
    background-color: scale-color(var.$main_button, $lightness: 80%);
    color: var.$main_text;
    box-shadow: var.$sombra_hover;
    border: 2px solid var.$main_button;
    }
}
  
