@use '../abstracts/variables.scss' as var;

// Card
$card-height: 100%;

.card {
    position: static;
    align-items: center;
    height: $card-height;

    padding: 16px;
    margin: 8px;

    border-radius: 8px;

    background-color: var.$main_bg;
    box-shadow: var.$sombra;

    transition: border-color 0.2s, box-shadow 0.2s;

    &:hover {
        border-color: var.$gray_2;
        border: 2px;
        box-shadow: var.$sombra_hover;

        cursor: pointer;
    }

    img {
        width: 100%;
    }

    p {
        width: 100%;
    }
}