@use '../abstracts/variables.scss' as var;

// Card
.card {
    position: static;
    align-items: center;
    max-width: 328px;
    min-width: 300px;

    padding: 16px;
    margin: 16px;

    border-radius: 8px;

    background-color: var.$main_bg;
    box-shadow: var.$sombra;

    &:hover {
        background-color: var.$gray_2;
        border: 0px;
        font-weight: 600;
        box-shadow: var.$sombra_hover;
    }

    img {
        max-width: 280px; 
    }
}
