@use '../abstracts/variables.scss' as var;

// Card
.card {
    align-items: center;
    max-width: 328px;
    min-width: 300px;

    padding: 16px;
    margin: 16px;

    border-radius: 8px;

    background-color: var.$main_bg;
    box-shadow: var.$sombra;

    &:hover {
        background-color: var.$gray_10;
        border: 0px;
        font-weight: 600;
      }

    img {
        max-width: 280px; 
    }
}
