// Colores
$main_text: #011b1a;
$main_bg: #ffffff;
$light_bg: #e7f9f8;
$main_title: #23807d;
$light_title: #3dccc7;
$main_button: #ffbf69;
$button_5: #ffdfb4;
$button_10: #f2ad53;
$button_30: #dc9d4b;
$gray_2: #fafafa;
$gray_10: #e5e8e8;
$gray_30: #b2baba;
$gray_60: #6b7676;

//Sombra
$sombra: 0px 2px 4px rgba(1, 27, 26, 0.16);
$sombra_hover: 0px 2px 24px rgba(1, 27, 26, 0.08);