// Colores
$main_text: #011b1a;
$main_bg: #ffffff;
$main_title: #23807d;
$main_button: #ffbf69;
$light_bg: #e7f9f8;
$link_hover: #3dccc7;
$gray_10: #e5e8e8;
$gray_30: #b2baba;
$gray_60: #6b7676;

//Sombra
$sombra: 0px 2px 16px rgba(1, 27, 26, 0.12);