/* VARIABLES */
:root {
  --main-text-color: #011b1a;
  --main-bg-color: #ffffff;
  --main-title-color: #23807d;
  --main-button-color: #ffbf69;
  --secondary-button-outline-color: #ffbf69;
  --light-bg-color: #e7f9f8;
  ;
  --gray-10-bg-color: #e5e8e8;
  --gray-30-button-color: #b2baba;
  --gray-60-outline-color: #6b7676;

  --font-family: "Plus Jakarta Sans", sans-serif;
  --h-font-weight: 600;
  --p-font-weight: 400;
  --link-font-weight: 600;

  --h1-font-size: 48px;
  --h2-font-size: 32px;
  --h3-font-size: 24px;
  --h4-font-size: 16px;
  --p-font-size: 16px;
  --label-font-size: 16px;

}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILOS GLOBALES */

/* Titulos */
h1 {
  color: var(--main-title-color);
  font-family: var(--font-family);
  font-size: var(--h1-font-size);
  font-weight: var(--h-font-weight);
  padding-block-end: 24px;
}

h2 {
  color: var(--main-text-color);
  font-family: var(--font-family);
  font-size: var(--h2-font-size);
  font-weight: var(--h-font-weight);
  padding-block-end: 24px;
}

h3 {
  color: var(--main-text-color);
  font-family: var(--font-family);
  font-size: var(--h3-font-size);
  font-weight: var(--h-font-weight);
  padding-block-end: 24px;
}

h4 {
  color: var(--main-title-color);
  font-family: var(--font-family);
  font-size: var(--h4-font-size);
  font-weight: var(--h-font-weight);
  text-transform: uppercase;
  padding-block-end: 24px;
}

/* Parrafo */
p {
  color: var(--main-text-color);
  font-family: var(--font-family);
  font-size: var(--p-font-size);
  font-weight: var(--p-font-weight);
  padding-block-start: 8px;
  padding-block-end: 8px;
}

/* Links */
/* Link general */
a:link {
  color: var(--main-title-color);
  font-weight: var(--link-font-weight);
  text-decoration: none;
}

/* Link mouse encima*/
a:hover {
  font-weight: 800;
}

/* LAYOUT */

/* Grid */
#grid {
  display: grid;
  max-width: 100%;
  max-height: 100vh;

  grid-template-areas:
    "header header"
    "principal principal"
    "quienes_somos quienes_somos"
    "trabajos trabajos"
    "servicios servicios"
    "contacto contacto"
    "footer footer";
  grid-template-columns: 1fr 1fr;

  grid-template-rows: 80px 1fr 1fr 1fr 1fr 1fr auto;

  column-gap: 32px;

  padding: 0 auto;
}

/* Header */
header {
  grid-area: header;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--font-family);

  box-shadow: 0px 2px 16px rgba(1, 27, 26, 0.12);

  position: fixed;
  width: 100dvw;
  top: 0;
}

header a:hover {
  color: var(--main-text-color);
}

/* Sección principal */
#principal {
  grid-area: principal;
  display: grid;
  height: 100dvh;

  grid-template-areas: "section_left section_right";

  grid-template-columns: 1fr 1fr;

  column-gap: 32px;
  row-gap: 24px;

  justify-content: center;

  background-image: url(../img/img_background.png);
  background-position: bottom;
  background-repeat: no-repeat;
}

/* Sección izquierda */
.section_left {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#principal h1 {
  text-align: center;
}

.section_left h3 {
  text-align: center;
}

/* Sección derecha */
.section_right {
  align-items: center;
}

.section_right h3 {
  text-align: center;
}

.img_section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_section #img_banner {
  display: flex;
  align-items: flex-end;
}

/* Sección principal pagina interna*/
#interna_ppal {
  grid-area: principal;
  max-width: 100%;
  max-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-top: 148px;
}

/* Sección quienes somos */
#quienes_somos {
  grid-area: quienes_somos;
  display: grid;
  grid-template-areas: "section_left section_right";

  grid-template-columns: 1fr 1fr;

  column-gap: 32px;
  row-gap: 24px;
  padding-top: 48px;
  padding-bottom: 24px;

  justify-content: center;
  align-items: start;
}

#quienes_somos_interna {
  grid-area: quienes_somos;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

#quienes_somos .section_left {
  align-content: center;
}

#quienes_somos .section_right {
  align-content: center;
}

/* Sección Trabajos */
#trabajos {
  grid-area: trabajos;
}

#trabajos_card {
  grid-area: trabajos;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  gap: 32px;
  margin: 24px 0;
}

/* Sección Servicios */
#servicios {
  grid-area: servicios;
  display: grid;
  grid-template-areas: "section_left section_right";

  grid-template-columns: 1fr 1fr;

  column-gap: 32px;
  row-gap: 24px;

  justify-content: center;
  align-items: start;
  padding: 48px 48px;
}

#servicios .section_left {
  align-content: center;
}

#servicios .section_right {
  align-content: center;
}

#servicios_interna {
  grid-area: servicios;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Sección Contacto */

#contacto {
  grid-area: contacto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 48px;
}

#contacto_form {
  grid-area: contacto;
  display: grid;
  grid-template-areas:
    "section_left section_right";
  margin-top: 148px;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;

  column-gap: 32px;
  row-gap: 24px;

  justify-content: center;
  align-items: start;
  padding: 48px 48px;
}

#contacto_botones {
  display: flex;
  flex-direction: row;
  gap: 32px;
}


#formulario .section_right {
  display: flex;
}

/* Footer */
footer {
  color: var(--main-bg-color);
  background-color: var(--main-text-color);
  font-family: var(--font-family);
  grid-area: footer;
  max-width: 100%;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px;
}

footer nav ul {
  display: flex;
  align-content: flex-end;
  list-style-type: none;
}

footer nav ul li {
  padding: 8px;
}

footer a {
  color: var(--main-tittle-color);
}

footer a:hover {
  color: var(--light-bg-color);
}


/* COMPONENTES */

/* Boton principal */
.boton_principal {
  background-color: var(--main-button-color);
  color: var(--main-text-color);

  border-radius: 8px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;

  font-family: var(--font-family);
  font-weight: var(--h-font-weight);
}

.boton_principal a:hover {
  background-color: var(--main-text-color);
  color: var(--main-button-color);

  font-weight: 800;
}

/* Boton secundario */
.boton_secundario {
  color: var(--main-text-color);

  border: 1px solid var(--secondary-button-outline-color);
  border-radius: 8px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;

  font-family: var(--font-family);
  font-weight: 600;
}

.boton_secundario a:hover {
  color: var(--main-button-color);
  border: 2px solid var(--secondary-button-outline-color);

  font-weight: 800;
}

/* Sección */
.seccion_bg_color {
  background-color: var(--gray-10-bg-color);
}

.seccion_bg_blanco {
  background-color: var(--main-bg-color);
}

.section_center {
  background-color: var(--main-bg-color);

  text-align: center;
  padding-top: 24px;
  padding-bottom: 48px;
}

/* Features */
li img {
  margin-right: 12px;
}

.icon_tag {
  color: var(--main-text-color);
  display: flex;
  align-items: center;

  margin: 12px 0;

  font-family: var(--font-family);
  font-size: var(--p-font-size);
  font-weight: 800;
  list-style: none;
}

.solo_tag {
  color: var(--main-text-color);

  border: 1px solid var(--gray-60-outline-color);
  border-radius: 24px;
  padding: 8px 24px;

  font-family: var(--font-family);
  font-weight: var(--h-font-weight);
  list-style-type: none;
}

#features {
  display: flex;
  justify-content: space-around;
}

#features .features_icon {
  display: flex;
  gap: 32px;

}

#features .features_solo {
  display: flex;
  gap: 32px;
  padding-bottom: 48px;
}

/* Card */
.card {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: var(--main-bg-color);
  padding: 24px;
  padding-bottom: 48px;

  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(1, 27, 26, 0.24);

  font-family: var(--font-family);
  color: var(--main-text-color);
  list-style: none;
}


#tabla_precios {
  grid-area: servicios;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;

  max-height: auto;
}

#tabla_precios .card:hover {
  background-color: var(--gray-10-bg-color);
  border: 0px;
  font-weight: var(--h-font-weight);
}

#tabla_precios .precio {
  padding-top: 24px;
  text-align: center;
}

#tabla_precios .icon_tag {
  font-weight: var(--p-font-weight);
}

/* Formulario de contacto */
.formulario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: var(--gray-10-bg-color);

  border: 1px solid var(--gray-10-bg-color);
  border-radius: 12px;
  padding: 24px;
}

/* Formulario labels */

.formulario_input_label {
  margin: 12px 0;
}

.formulario_input_label label {
  font-family: var(--font-family);
  font-size: var(--label-font-size);
  color: var(--main-text-color);
}

/* Formulario inputs */
.formulario_input_label input {
  font-family: var(--font-family);
  font-size: var(--label-font-size);

  color: var(--gray-60-outline-color);

  border: 1px solid var(--gray-60-outline-color);
  border-radius: 4px;
  padding: 4px 16px
}

.formulario_input_label textarea {
  font-family: var(--font-family);
  font-size: var(--label-font-size);

  color: var(--gray-60-outline-color);

  border: 1px solid var(--gray-60-outline-color);
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 12px 0;
}

/* RESPONSIVE hasta 768px */

@media screen and (max-width: 768px) {

  /* Estilos textos */
  /* Titulos */
  h1 {
    font-size: 24px;
    padding-block-end: 16px;
  }

  h2 {
    font-size: 20px;
    padding-block-end: 16px;
  }

  h3 {
    font-size: 20px;
    padding-block-end: 16px;
  }

  h4 {
    font-size: 16px;
    padding-block-end: 16px;
  }

  p {
    font-size: 16px;
  }

  #grid {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  /* Sección principal */
  #principal {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    margin-top: 120px;

    row-gap: 16px;

    justify-content: center;

    background-image: url(../img/img_background.png);
    background-position: bottom;
    background-repeat: no-repeat;
  }

  /* Sección principal pagina interna*/
  #interna_ppal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100dvh;
    margin-top: 120px;

    row-gap: 16px;
  }

  /* Sección quienes somos */
  #quienes_somos {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    width: 100dvw;

    row-gap: 16px;
    padding-top: 24px;
    padding-bottom: 24px;

    justify-content: center;
    align-items: center;
  }

  #quienes_somos_interna {
    display: flex;
    max-width: 100dvw;
  }

  #quienes_somos .seccion_bg_color {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100dvw;

    padding-top: 24px;
    padding-bottom: 24px
  }

  #quienes_somos .seccion_bg_blanco {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    width: 100dvw;

    padding-top: 24px;
    padding-bottom: 24px
  }

  /* Sección Trabajos */
  #trabajos {
    display: flex;
    flex-direction: column;
  }

  #trabajos_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 24px;
    margin: 24px 0;
  }

  /* Sección Servicios */
  #servicios {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100dvw;

    row-gap: 24px;

    justify-content: center;
    align-items: start;

    row-gap: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  #servicios_interna {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100dvh;
    margin-top: 0px;
  }

  /* Sección Contacto */

  #contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 24px;
  }

  #contacto_form {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    height: auto;
    width: 100dvw;

    row-gap: 16px;

    justify-content: center;
    align-items: center;
    padding: 24px 24px;
  }

  #contacto_botones {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }


  #formulario .section_right {
    display: flex;
    flex-direction: column;
    width: 100dvw;
  }

  /* Footer */
  #footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px;
  }

  footer nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Features */
  /* Features */
  li img {
    margin-right: 12px;
  }

  #features {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #features .features_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 0;

  }

  #features .features_solo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-left: 0px;
    padding-bottom: 24px;
  }

  /* Card */
  .card {
    align-items: center;
    max-width: 328px;

    padding: 24px 16px;
    margin: 0 48px;

    border-radius: 8px;
  }

  .card img {
    max-width: 280px;
  }


  #tabla_precios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    max-height: auto;
  }

  #tabla_precios .precio {
    padding-top: 24px;
    text-align: center;
  }

  ol, ul {
  padding-left: 0px;
  }

}